<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="union.uc.com.rxjava_example">

    <!-- Include following permission if you load images from Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Include following permission if you want to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sample.AutoCompleteActivity" />
        <activity android:name=".sample.ConditionActivity" />
        <activity android:name=".sample.RWFileActivity" />
        <activity android:name=".sample.AdFetchActivity" />
        <activity android:name=".sample.GroupByActivity" />
        <activity android:name=".sample.BufferActivity" />
        <activity android:name=".sample.OtherAPIActivity" />
        <activity android:name=".api.AsyncActivity" />
        <activity android:name=".api.BlockingObservableActivity" />
        <activity android:name=".api.CombineActivity" />
        <activity android:name=".api.ConditionActivity" />
        <activity android:name=".api.ConnectableObservableActivity" />
        <activity android:name=".api.CustomeOperatorActivity" />
        <activity android:name=".api.ErrorHandleActivity" />
        <activity android:name=".api.FilterActivity" />
        <activity android:name=".api.MathAggregateActivity" />
        <activity android:name=".api.ObservableCreateActivity" />
        <activity android:name=".api.PluginActivity" />
        <activity android:name=".api.SchedulerActivity" />
        <activity android:name=".api.StringActivity" />
        <activity android:name=".api.SubjectActivity" />
        <activity android:name=".api.TransformationActivity" />
        <activity android:name=".api.UtilityActivity" />
        <activity android:name=".api.ReactiveStreamActivity" />
    </application>

</manifest>
